<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- 启用懒加载，必须按照下面方式配置 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 将积极加载改为消极加载即按需加载。必须写,且为false才会懒加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.lol.domain.User" alias="User" />
		<typeAlias type="com.lol.domain.Hero" alias="Hero" />
		<!--	<typeAlias type="com.lol.domain.Authority" alias="Authority" />
            <typeAlias type="com.lol.domain.Equipment" alias="Equipment" />
            <typeAlias type="com.lol.domain.Heromessage" alias="Heromessage" />
            <typeAlias type="com.lol.domain.Heroskill" alias="Heroskill" />
            <typeAlias type="com.lol.domain.HeroskinKey" alias="HeroskinKey" />
            <typeAlias type="com.lol.domain.Order" alias="Order" />
            <typeAlias type="com.lol.domain.Role" alias="Role" />
            <typeAlias type="com.lol.domain.RoleauthorityKey" alias="RoleauthorityKey" />
            <typeAlias type="com.lol.domain.Scart" alias="Scart" />
            <typeAlias type="com.lol.domain.Skill" alias="Skill" />
            <typeAlias type="com.lol.domain.Skin" alias="Skin" />
            <typeAlias type="com.lol.domain.UserheroKey" alias="UserheroKey" />
            <typeAlias type="com.lol.domain.Userrole" alias="Userrole" />
            <typeAlias type="com.lol.domain.UserskinKey" alias="UserskinKey" />-->
	</typeAliases>

</configuration>