<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lol.dao.HeroMapper">
    <resultMap id="BaseResultMap" type="com.lol.domain.Hero">
        <id column="id" jdbcType="SMALLINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sort" jdbcType="VARCHAR" property="sort" />
        <result column="camp" jdbcType="VARCHAR" property="camp" />
        <result column="introduce" jdbcType="VARCHAR" property="introduce" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="price" jdbcType="DECIMAL" property="price" />
    </resultMap>
    <sql id="Base_Column_List">
    id, title, name, sort, camp, introduce, image, price
  </sql>

    <select id="findAllHero" resultType="com.lol.domain.Hero">
        select * from m_hero
    </select>

    <select id="findByHeroName" resultType="com.lol.domain.Hero" parameterType="string">
        select * from m_hero where name={#name}
    </select>

    <select id="findByHeroCamp" resultType="com.lol.domain.Hero" parameterType="string">
        select * from m_hero where camp={#camp}
    </select>

    <select id="findAllHeroLimit" resultType="com.lol.domain.Hero" parameterType="map">
        select * from m_hero limit #{index},#{size}
    </select>

    <select id="count" resultType="Integer">
        select count(1) from m_hero
    </select>

    <select id="findByHeroId" resultType="com.lol.domain.Hero" parameterType="Integer">
        select * from m_hero where id=#{id}
    </select>

    <insert id="addHero" parameterType="com.lol.domain.Hero">
        insert into m_hero (title,name,sort,camp,introduce,image,price) values (#{title},#{name},#{sort},#{camp},#{introduce},#{image},#{price})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from m_hero where id = #{id}
    </delete>

    <update id="updateHero" parameterType="com.lol.domain.Hero">
        update m_hero set title=#{title},name=#{name},sort=#{sort},camp=#{camp},introduce=#{introduce},image=#{image},price=#{price} where id = #{id}
    </update>

    <select id="findHeroMsgById" parameterType="Integer" resultType="com.lol.vo.HeroMsgBean">
        SELECT h.title,h.name,hm.health,hm.restore_health,hm.magic,hm.restore_magic,hm.movement_speed,hm.attack_range,hm.atk,hm.atk_speed,hm.armor,hm.spells,h.image,h.price
        FROM m_hero h
        INNER JOIN m_heromessage hm
        on h.id=hm.hid
        WHERE id=#{id}
    </select>
</mapper>