<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserMapper">

	<select id="findByName" resultType="User"
		parameterType="String">
		select * from user where name=#{name}
	</select>

	<insert id="addUser" parameterType="User">
		insert into user(name,password,issue,answer,flag)
		values(#{name},#{password},#{issue},#{answer},1)
	</insert>

	<update id="updateUser" parameterType="User">
		update user set name=#{name},password=#{password},issue=#{issue},answer=#{answer},flag=#{flag} where id=#{id}
	</update>
</mapper>